html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #1f4872;
    color: #fff;
    font-family: arial;
    letter-spacing: 2px;
    background-image: url("https://i.pinimg.com/originals/63/1c/c9/631cc91c7fbbf57ffc1b7a936c4b5c1b.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .wrapper {
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
    margin-top: -87.5px;
    font-size: 60px;
    height: 175px;
    
  }
  
  .wave {
    color: #ffffff;
    -webkit-animation: 0.5s color infinite;
            animation: 0.5s color infinite;
  }
  
  @-webkit-keyframes color {
    50% {
      color: #09ff00;
    }
  }
  
  @keyframes color {
    50% {
      color: #ff0000;
    }
  }
  